.cta_speaker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: linear-gradient(75deg, rgba(66, 133, 244, 1) 5%, rgba(15, 157, 88, 1) 80%);
}

.cta_content h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;
}

.cta_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.cta_btn button {
    padding: 0.5rem 2rem;
    background: #FFFFFF;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .cta_speaker {
        flex-direction: column;
    }

    .cta_btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .cta_speaker {
        margin: 4rem 2rem;
    }

    .cta_content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .cta_btn {
        font-size: 14px;
        line-height: 28px;
    }
}